
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2c3051; /* Azul muito escuro */
    color: #fff; /* Cor do texto */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Para centralizar verticalmente */
}

/* Estilo para o Login */
.container-login {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #4e5174; /* Azul ainda mais escuro */
    border-radius: 12px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease;
}

.container-login:hover {
    transform: translateY(-5px); /* Leve movimento ao passar o mouse */
}
